<div class='w-screen h-[90vh] flex justify-center items-center'>
  <div
    class='h-fit w-60 mx-auto mt-8 text-black rounded overflow-hidden shadow-lg flex flex-col justify-between items-center'
  >
    <div>
      <div class='bg-green-500 h-3 w-full'></div>
      <div class='px-4 py-2 flex flex-col justify-center items-center'>
        <h1 class='text-green-500 text-xl font-medium mb-3'>SCH Service notice</h1>
        <div class='w-full flex flex-row justify-center'>
          <div class='w-6 h-6 bg-white rounded-full flex items-center justify-center mr-2 ml-1'>
            <svg
              class='w-5 h-5 text-green-500'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path d='M5 13l4 4L19 7'></path>
            </svg>
          </div>
          <p>Tài khoản đã được tạo thành công!</p></div>
      </div>
    </div>
    <form action='/so' method='GET'>
      <button class='w-fit mb-2 bg-blue-500 px-2 py-1 rounded shadow-lg text-sm text-white' type='submit'>Go to
        dashboard</button>
    </form>

  </div></div>