<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/css/people/home.css">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

  <title>SCH Map</title>
  <style>
    #map {
      position: absolute;
      top: 50;
      bottom: 50;
      width: 100%;
    }

    #resizeMap {
      width: 50%;
    }
  </style>
</head>

<body>
  <div class="w-full h-10 px-28 bg-[#FFFFFF] shadow-xl flex flex-row items-center mb-8">
    <div class="mr-auto">
      <img class="w-36" alt="logo-img" src="/static/img/SCHlogo.svg" />
    </div>
    <a class="mx-auto font-semibold" href="/about">
      About
      <a>
  </div>
  {{{body}}}
</body>

</html>