<style>
  .custom-dropdown { position: relative; } .custom-dropdown::after { content:
  "▼"; position: absolute; top: 72%; right: 14px; transform: translateY(-50%);
  pointer-events: none; } select { -webkit-appearance: none; -moz-appearance:
  none; appearance: none; width: 100%; padding: 0.5rem; border: 2px solid
  #105BBD; border-radius: 0.25rem; }
</style>

<div class="w-screen h-[90vh] flex justify-center items-center">
  <div
    class="w-60 h-fit mx-auto bg-[#f2f2f2] px-4 pt-2 pb-3 shadow-xl rounded-lg flex flex-col justify-center items-center"
  >
    <h1 class="text-2xl py-2 font-medium text-center">Update Password</h1>
    <form
      action="/update-password"
      method="POST"
      class="flex flex-col justify-center items-center gap-2"
      onsubmit="return validatePasswords()"
    >

      <div>
        <label
          class="text-sm font-medium text-gray-900"
          for="Email"
        >Email</label>
        <input
          class="h-7 w-full px-1 mt-0.5 rounded-lg border border-gray-300"
          type="email"
          id="Email"
          name="Email"
          required
        />
      </div>
      <div>
        <label class="text-sm font-medium text-gray-900" for="Password">New
          password</label>
        <input
          class="h-7 w-full px-1 mt-0.5 rounded-lg border border-gray-300"
          type="password"
          id="Password"
          name="Password"
          required
        />
      </div>
      <div>
        <label
          class="text-sm font-medium text-gray-900"
          for="ConfirmPassword"
        >Confirm</label>
        <input
          class="h-7 w-full px-1 mt-0.5 rounded-lg border border-gray-300"
          type="password"
          id="ConfirmPassword"
          name="ConfirmPassword"
          required
          oninput="validatePasswords()"
        />
        <span id="passwordMatchMessage" style="color: red;"></span>
      </div>
      <div
        class="g-recaptcha"
        data-sitekey="6LeZQiwpAAAAAL3qeGgkNKncYR-eu1SV2-hN9Wqe"
      ></div>
      <button
        class="text-base px-6 py-0.5 rounded-lg bg-[#105BBD] text-center text-white mt-1"
        type="submit"
      >Update</button>
    </form>
  </div>
</div>

<script>
  function validateform() { var captcha_response = grecaptcha.getResponse()
  if(captcha_response.length == 0) {
  document.querySelector('.error-message').innerHTML = '<p
  style="margin-bottom:1.3rem;color:#d93025;">Vui lòng chọn hộp kiểm này nếu bạn
  muốn tiếp tục.</p>' return false } return true }
</script>

<script>
  function validatePasswords() { var password =
  document.getElementById("password").value; var confirmPassword =
  document.getElementById("confirmPassword").value; var passwordMatchMessage =
  document.getElementById("passwordMatchMessage"); if (password !==
  confirmPassword) { passwordMatchMessage.textContent = "Passwords do not
  match"; } else { passwordMatchMessage.textContent = ""; } }
</script>