<div
  class="w-[90%] h-screen mx-auto my-5 flex flex-row justify-center items-center gap-6"
>
  <div class="w-[70%] h-full rounded-xl shadow-xl bg-[whitesmoke]">
    MAP HERE
  </div>
  <div class="w-[30%] h-full">
    {{> table}}
  </div>

</div>