<div class="container mx-auto mt-8">
  <label
    for="phuongSelect"
    class="block text-sm font-medium text-gray-700"
  >Select Ward:</label>
  <select
    id="phuongSelect"
    name="phuongSelect"
    class="block w-full mt-1 p-2 border border-gray-300 rounded-md"
  >
    {{#each wardList}}
      <option value="{{this.ID}}">{{this.Name}}</option>
    {{/each}}
  </select>
</div>