.marker {
    background-image: url(/static/img/marker.png);
    background-size: cover;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    cursor: pointer;
}

.custom-marker {
    /* background-image: url(/static/img/custom.png); */
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}