
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static//css/people/report.css">
<script src="https://cdn.tiny.cloud/1/m0fgkygxs3y749y4x9pmxdsov1isrty871y1cszdyn5tc7vh/tinymce/6/tinymce.min.js"
referrerpolicy="origin"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<form action="/capphep/edit/add" method="post">  
    <div class="container header">
        <div class="header__title">YÊU CẦU CHỈNH SỬA ĐỊA ĐIỂM</div>
        <div class="header__desc">(Mẫu yêu cầu cập nhập cho một bảng quảng cáo trên bản
            đồ)
        </div>
    </div>

    <div class="container form-section">
        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__type" class="form-label">Hình thức quảng cáo</label>
                <select class="form-select" aria-label="Default select example" id="form__type" name="HinhThucQC">
                    <option selected hidden>{{this.category.HinhThucQC}}</option>
                    <option value="1">Cổ động chính trị</option>
                    <option value="2">Quảng cáo thương mại</option>
                    <option value="3">Xã hội hoá</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__id" class="form-label">ID địa điểm quảng cáo</label>
                <input type="text" class="form-control" id="form__id" name="PosID">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__diachi" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="form__diachi" name="DiaChi">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__phuong" class="form-label">Phường</label>
                <input type="text" class="form-control" id="form__phuong" name="Phuong">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__quan" class="form-label">Quận</label>
                <input type="text" class="form-control" id="form__quan" name="KhuVuc">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__quan" class="form-label">Thời gian bắt đầu</label>
                <input type="date" class="form-control" id="form__quan" name="NgayBatDau">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__quan" class="form-label">Thời gian kết thúc</label>
                <input type="date" class="form-control" id="form__quan" name="NgayKetThuc">
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 col-md-5 col-lg-4">
                <label for="form__email" class="form-label">Email liên lạc</label>
                <input type="email" class="form-control" id="form__email" name="Email">
            </div>
        </div>

        <label for="form__content" class="form-label">Nội dung quảng cáo</label>
        <script>
            tinymce.init({
                selector: 'textarea',
                body_id: 'form__content',
                content_style: '.tox.tox-tinymce { border: 1px solid #dee2e6; border-radius: 0.375rem; }',
                placeholder: "Nhập nội dung quảng cáo tại đây...",
                plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });
        </script>
        
            <textarea name="NoiDungQC"></textarea>

        <label for="form__file" class="form-label">Hình ảnh minh họa</label>
        <br>
        <button class="form__file-btn" type="button">
            <label for="form__file"><i class="fa-light fa-upload"></i> Thêm tệp</label>
        </button>
        <input type="file" id="form__file" multiple name="HinhAnh">
        <hr>

        <script>
            function onSubmit(token) {  
                document.getElementById("demo-form").submit();
            }
        </script>

        <div class="g-recaptcha" data-sitekey="6LeZQiwpAAAAAL3qeGgkNKncYR-eu1SV2-hN9Wqe"></div>

        <div class="form__submit">
            <button type="submit" class="form__submit-btn">Gửi</button>
            <span>Xóa hết câu trả lời</span>
        </div>
    </div>
</form>