<div class="mx-auto mt-8">
  <h1 class="">Districts</h1>
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">District</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each districtsList}}
        <tr>
          <td class="py-2 px-4 border-b">{{this.Name}}</td>
          <td class="py-2 px-4 border-b">
            <button class="bg-blue-500 text-white py-1 px-2 rounded">View
              Statistics</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h1 class="mt-4">Wards</h1>
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Ward</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each wardsList}}
        <tr>
          <td class="py-2 px-4 border-b">{{this.Name}}</td>
          <td class="py-2 px-4 border-b">
            <button class="bg-blue-500 text-white py-1 px-2 rounded">View
              Statistics</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>