<footer class='w-full h-fit text-white shadow-lg px-28 bg-[#3ED9CB]'>
  <div class='flex flex-row justify-between'>
    <div class='w-full h-fit flex flex-col my-4 justify-center items-center'>
      <h5 class='mb-3 text-2xl font-semibold text-[#0D55B3]'>Ads Management</h5>
      <p class='w-[70%]'>
        Đây là ứng dụng web quản lý quảng cáo giúp bạn dễ dàng theo dõi và quản lý các chiến dịch quảng cáo của khu vực
        mình.
      </p>
    </div>
  </div>
  <div class='text-center p-3'>
    21PTUDW02 ©HCMUS 21127158 - 21127236 - 21127511
  </div>
</footer>