<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">
    <footer style="background-color: #deded5;">
        <div class="container p-4">
            <div class="flex flex-row justify-between">
                <div class="w-full flex flex-col mb-4 justify-center">
                    <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Ads Management</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                        voluptatem veniam, est atque cumque eum delectus sint!
                    </p>
                </div>
                <div class="w-full flex  flex-col mb-4 justify-center">
                    <h5 class="mb-3 flex justify-center" style="letter-spacing: 2px; color: #818963;">links</h5>
                    <ul class="list-unstyled mb-0 flex flex-col justify-center items-center">
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Frequently Asked Questions</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Delivery</a>
                        </li>
                        <li class="mb-1">
                            <a href="#!" style="color: #4f4f4f;">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" style="color: #4f4f4f;">Where we deliver?</a>
                        </li>
                    </ul>
                </div>
                <div class="w-full flex flex-col mb-4">
                    <h5 class="mb-1 flex justify-center" style="letter-spacing: 2px; color: #818963;">opening hours</h5>
                    <table class="flex justify-center" style="color: #4f4f4f; border-color: #666;">
                        <tbody class="flex flex-col justify-between">
                            <tr class="flex justify-between">
                                <td class="mx-8">Mon - Fri:</td>
                                <td class="mx-8">8am - 9pm</td>
                            </tr>
                            <tr class="flex justify-between">
                                <td class="mx-8">Sat - Sun:</td>
                                <td class="mx-8">8am - 1am</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 21PTUDW02 HCMUS 21127158 - 21127236 - 21127511
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->