<div
  class="w-full h-10 px-28 bg-[#FFFFFF] shadow-xl flex flex-row justify-between items-center"
>
  <img class="w-36" alt="logo-img" src="/static/img/SCHlogo.svg" />

  <div>
    <ul class="flex flex-row justify-center gap-6">
      <li><a href="/government">Government</a></li>
      <li><a href="/">Public</a></li>
      <li><a href="/about">About Us</a></li>
      <li><form action="/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form></li>
      <li><form action="/update-password" method="GET">
          <button type="submit">Change Password</button>
        </form></li>
      <li><form action="/update-information" method="GET">
          <button type="submit">Update Info</button>
        </form></li>
    </ul>
  </div>
</div>